/*------------------------
======= Colors ===========
-------------------------*/
$headerBg:rgba(2, 25, 57, 1);
$mainBgColor:#021939;
$mainColor:#021939;
$secondaryBg:rgba(231, 249, 255, 1);
$secondaryColor:rgba(68, 165, 216, 1);
$descriptionColor:rgba(137, 155, 169, 1);
$linkColor:rgba(192, 197, 201, 1);
$wColor:rgba(255, 255, 255, 1);
$secondaryColor:rgba(192, 197, 201, 1);
$boxBg:rgba(243, 251, 254, 1);
$spanText:rgba(6, 156, 215, 1);